html

head
  link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/main-style.css')
  
body
  .container.index-content-wrapper
    h1 Broker AI
    h2 NEW WAY OF STOCK INVESTMENT
    .login-wrapper
      form
        .panel.panel-login
          input(type='text', placeholder='username').form-control
          input(type='password', placeholder='password').form-control
          button(type='submit').btn.btn-darkgrey Login
          .other-option
            a(href='register').register-link Register
            a(href='main').login-as-guest-link Login as guest
  

  script(src='/assets/js/jquery.js')
  script(src='/assets/js/bootstrap.min.js')