include lib/common
+page('Broker AI')
  div(ng-controller='ShowStocksController')
    section
      .container.main-content-wrapper
        .row.col-md-12.col-lg-12.col-sm-12
          .row.col-md-8.col-lg-8.col-sm-12
            h1 STOCKS
          .row.col-md-4.col-lg-4.col-sm-12
            .btn-group.btn-group-options(data-toggle='buttons')
              label.btn.btn-darkgrey.active
                input#daily(type='radio', name='predict', autocomplete='off', checked)
                |  Daily
              label.btn.btn-darkgrey
                input#weekly(type='radio', name='predict', autocomplete='off')
                |  Weekly
              label.btn.btn-darkgrey
                input#monthly(type='radio', name='predict', autocomplete='off')
                |  Monthly
        .row
          .col-md-4.col-md-offset-8.col-lg-4.col-lg-offset-8.col-sm-4.col-sm-offset-8.searchstock
            input(type='text',name='searchStock',placeholder="Search").form-control
        .row
          hr
        .content
          table.table-bordered
            thead
              tr
                th SYMBOL
                th COMPANY
                th LAST SALE
                th CHANGE NET / %
            tbody
              tr(ng-repeat="stock in stocks")
                th.col-md-2.col-lg-2-col-sm-2(scope="row") {{stock.stock_name}}
                td.col-md-5.col-lg-5-col-sm-5(style="position:relative;")
                  a(href='/info')
                    | {{stock.stock_fullname}}
                    i.fa.fa-info-circle.moreinfo 
                td.col-md-2.col-lg-2-col-sm-2 last sale
                td.col-md-3.col-lg-3-col-sm-3.down(ng-if='stock.daily_predict===\'down\'') {{stock.daily_predict_price}}  
                  li.fa.fa-caret-down
                    |   {{stock.daily_predict_percent}}
                td.col-md-3.col-lg-3-col-sm-3.up(ng-if='stock.daily_predict===\'up\'') {{stock.daily_predict_price}}  
                  li.fa.fa-caret-up
                    |   {{stock.daily_predict_percent}}
