<div ng-include="template.navbar"></div>
		<div>
				<section>
					<div class="spin">
						<span spinner-key="spinner-1" spinner-start-active="true" us-spinner="{radius:15, width:8, length: 16}"></span>
					</div>
						<div id="fetching" class="container main-content-wrapper" style="color: #434040; display: block;">
							<center><h1><i><b>FETCHING DATA ...</b></i></h1></center>
						</div>
						<div id="hide" class="container main-content-wrapper" style="display: none;">
								<div class="row col-md-12 col-lg-12 col-sm-12">
										<div class="row col-md-8 col-lg-8 col-sm-12">
												<h1> 
													<li class="fa fa-heart down">
													</li>  FAVORITES
												</h1>
										</div>
										
										<div class="row col-md-4 col-lg-4 col-sm-12">
												<div data-toggle="buttons" class="btn-group btn-group-options">
														<label ng-click="getLatestStocks('day')" class="btn btn-darkgrey active">
																<input id="daily" type="radio" name="predict" autocomplete="off" checked> Daily</label>
														<label ng-click="getLatestStocks('week')" class="btn btn-darkgrey">
																<input id="weekly" type="radio" name="predict" autocomplete="off"> Weekly</label>
														<label ng-click="getLatestStocks('month')" class="btn btn-darkgrey">
																<input id="monthly" type="radio" name="predict" autocomplete="off"> Monthly</label>
												</div>
										</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8 col-sm-4 col-sm-offset-8 searchstock">
										 <angucomplete-alt id="ex1" ng-enter="searchResult()" placeholder="SEARCH" pause="100" selected-object="selectedCompany" local-data="companies" search-fields="name,symbol" title-field="name,symbol" minlength="1" match-class="highlight" input-class="form-control form-control-small"/>
									</div>
								</div>
								<div class="row">
										<hr>
								</div>
								<div class="content">
										<table class="table-bordered">
												<thead>
														<tr>
																<th id="noBorder"></th>
																<th>SYMBOL</th>
																<th>COMPANY</th>
																<th>LAST SALE</th>
																<th>CHANGE NET / %</th>
														</tr>
												</thead>
												<tbody class="favorite_stocks">
														<tr ng-repeat="fav in favorite_stocks">
																<th id="noborder">
																		<button id="{{fav.company_id}}" ng-click="unfav(fav.company_id)" class="unfavButton noBgButton fa fa-heart down"></button>
																</th>
																<th scope="row" class="col-md-2 col-lg-2-col-sm-2">{{fav.symbol}}
																</th>
																<td style="position:relative;" class="col-md-5 col-lg-5-col-sm-5">
																	<a href="/stocks/{{fav.company_id}}">{{fav.name}}<i class="fa fa-info-circle moreinfo"></i>
																	</a>
																</td>
																<td class="col-md-2 col-lg-2-col-sm-2">{{fav.high_price | number:3}}</td>
																<td ng-if="fav.daily_predict==='down'" class="col-md-3 col-lg-3-col-sm-3 down">{{fav.daily_predict_price}}
																		<li class="fa fa-caret-down"> {{fav.daily_predict_percent}}
																		</li>
																</td>
																<td ng-if="fav.daily_predict==='up'" class="col-md-3 col-lg-3-col-sm-3 up">{{fav.daily_predict_price}}
																		<li class="fa fa-caret-up"> {{fav.daily_predict_percent}}
																		</li>
																</td>
														</tr>
												</tbody>
										</table>
								</div>
						</div>
				</section>
		</div>