<div ng-include="template.navbar"></div>
		<div>
				<section>
						<div class="container main-content-wrapper">
								<div class="row col-md-12 col-lg-12 col-sm-12">
										<div class="row col-md-8 col-lg-8 col-sm-12">
												<h1> 
													<li class="fa fa-heart down">
													</li>  FAVORITES
												</h1>
										</div>
										<div class="row col-md-4 col-lg-4 col-sm-12">
												<div data-toggle="buttons" class="btn-group btn-group-options">
														<label class="btn btn-darkgrey active">
																<input id="daily" type="radio" name="predict" autocomplete="off" checked> Daily</label>
														<label class="btn btn-darkgrey">
																<input id="weekly" type="radio" name="predict" autocomplete="off"> Weekly</label>
														<label class="btn btn-darkgrey">
																<input id="monthly" type="radio" name="predict" autocomplete="off"> Monthly</label>
												</div>
										</div>
								</div>
								<div class="row">
										<hr>
								</div>
								<div class="content">
										<table class="table-bordered">
												<thead>
														<tr>
																<th id="noBorder"></th>
																<th>SYMBOL</th>
																<th>COMPANY</th>
																<th>LAST SALE</th>
																<th>CHANGE NET / %</th>
														</tr>
												</thead>
												<tbody class="favorite_stocks">
														<tr ng-repeat="fav in favorite_stocks">
																<th id="noborder">
																		<button class="unfavButton noBgButton fa fa-heart down"></button>
																</th>
																<th scope="row" class="col-md-2 col-lg-2-col-sm-2">{{fav.symbol}}
																</th>
																<td style="position:relative;" class="col-md-5 col-lg-5-col-sm-5">
																	<a href="/stocks/{{fav.company_id}}">{{fav.name}}<i class="fa fa-info-circle moreinfo"></i>
																	</a>
																</td>
																<td class="col-md-2 col-lg-2-col-sm-2">{{fav.close_price | number:3}}</td>
																<td ng-if="fav.daily_predict==='down'" class="col-md-3 col-lg-3-col-sm-3 down">{{fav.daily_predict_price}}
																		<li class="fa fa-caret-down"> {{fav.daily_predict_percent}}
																		</li>
																</td>
																<td ng-if="fav.daily_predict==='up'" class="col-md-3 col-lg-3-col-sm-3 up">{{fav.daily_predict_price}}
																		<li class="fa fa-caret-up"> {{fav.daily_predict_percent}}
																		</li>
																</td>
														</tr>
												</tbody>
										</table>
								</div>
						</div>
				</section>
		</div>