<div ng-include="template.navbar"></div>
<div>
	<section>
		<script src='/assets/js/graph_candlestick.js'></script>
		<script src='/assets/js/graph_linechart.js'></script>
		<div class="container main-content-wrapper">
			<div class="row col-md-12 col-lg-12 col-sm-12">
				<div class="row col-md-8 col-lg-8 col-sm-12">
					<h1>STOCK'S INFO ID:{{stockID}}</h1>
				</div>
				<div class="row col-md-4 col-lg-4 col-sm-12">
					<div data-toggle="buttons" class="btn-group btn-group-options">
						<label class="btn btn-darkgrey active">
							<input id="daily" type="radio" name="predict" autocomplete="off" checked> Daily
						</label>
						<label class="btn btn-darkgrey">
							<input id="weekly" type="radio" name="predict" autocomplete="off"> Weekly</label>
								<label class="btn btn-darkgrey">
									<input id="monthly" type="radio" name="predict" autocomplete="off"> Monthly
								</label>
					</div>
				</div>
			</div>
			<div class="content">
				<table class="table-bordered">
					<thead>
						<tr>
							<th>HIGH</th>
								<th>LOW</th>
								<th>OPEN</th>
								<th>CLOSE</th>
								<th>CHANGE NET / %</th>
						</tr>
						<tbody>
								<tr>
									<th>524.99</th>
									<th>496.09</th>
									<th>519.175</th>
									<th>524.49</th>
									<th>asasas</th>
								</tr>
						</tbody>
					</thead>
				</table>
			</div>
			<div class="row">
					<hr>
			</div>
			<div class="row">
				<div class="col-md-8">
					<h1 id="line">LINE CHART</h1>
				</div>
				<div class="col-md-4 graphtab">
					<div class="btn-group btn-group-justified">
						<a href="#line" role="group" type="button" class="btn btn-default" id="line_btn">LINE</a>
						<a href="#candle" role="group" type="button" class="btn btn-default">CANDLE STICK  </a>
					</div>
				</div>
			</div>
			<div id="linechart" class="chartdiv"></div>
			<hr>
			<div class="row col-md-8">
					<h1 id="candle">CANDLE STICK CHART</h1>
			</div>
			<div id="candlestick" class="chartdiv"></div>
		</div>
	</section>
</div>