<div ng-include="template.navbar"></div>
<div>
	<section>
		<script src='/assets/js/graph_candlestick.js'></script>
		<!-- <script src='/assets/js/graph_linechart.js'></script> -->
		<div class="spin">
						<span spinner-key="spinner-1" spinner-start-active="true" us-spinner="{radius:15, width:8, length: 16}"></span>
					</div>
		<div id="hide" class="container main-content-wrapper" style="display: none;">
			
			<div class="row col-md-12 col-lg-12 col-sm-12">

				<div class="row col-md-8 col-lg-8 col-sm-12">
					<h1>{{stock.name}}</h1>
				</div>

				<div class="row col-md-4 col-lg-4 col-sm-12">
					<div data-toggle="buttons" class="btn-group btn-group-options">
						<label ng-click="getLatestStocks('day')" class="btn btn-darkgrey active">
							<input id="daily" type="radio" name="predict" autocomplete="off" checked> Daily
						</label>
						<label ng-click="getLatestStocks('week')" class="btn btn-darkgrey">
							<input id="weekly" type="radio" name="predict" autocomplete="off"> Weekly</label>
								<label ng-click="getLatestStocks('month')" class="btn btn-darkgrey">
									<input id="monthly" type="radio" name="predict" autocomplete="off"> Monthly
								</label>
					</div>
				</div>
			</div>
			<div class="row col-md-12 col-lg-12 col-sm-12">
					<hr>
			</div>
			<div class="content">
				<div class="col-md-6 col-lg-6 col-sm-12">
					<table class="table-bordered table-info-pad">
					<thead>
						<tr>
							<th colspan="2">YESTERDAY</th>
						</tr>
						<tbody>
								<tr>
									<th class="col-md-6 col-lg-6 col-sm-6">High</th>
									<th class="col-md-6 col-lg-6 col-sm-6">{{lastest.high_price | number:3}}</th>
								</tr>
								<tr>
									<th class="col-md-6 col-lg-6 col-sm-6">Low</th>
									<th class="col-md-6 col-lg-6 col-sm-6">{{lastest.low_price | number:3}}</th>
								</tr>
								<tr>
									<th class="col-md-6 col-lg-6 col-sm-6">Open</th>
									<th class="col-md-6 col-lg-6 col-sm-6">{{lastest.open_price | number:3}}</th>
								</tr>
								<tr>
									<th class="col-md-6 col-lg-6 col-sm-6">Close</th>
									<th class="col-md-6 col-lg-6 col-sm-6">{{lastest.close_price | number:3}}</th>
								</tr>
								<tr>
									<th class="col-md-6 col-lg-6 col-sm-6">Volume</th>
									<th class="col-md-6 col-lg-6 col-sm-6">{{lastest.volume | number:3}}</th>
								</tr>
						</tbody>
					</thead>
				</table>
				</div>
				<div class="col-md-6 col-lg-6 col-sm-12 info-prediction-wrapper">
					<table class="table-bordered table-info-pad" style="height: 248px;">
					<thead>
						<tr>
							<th>TODAY PREDICTION</th>
						</tr>
						<tbody>
								<tr>
									<th class="predict-value-wrapper up-on-white" style="font-size: 80px;">
									<li class="fa fa-caret-up"> 22222222</li></th>
									
								</tr>
						</tbody>
					</thead>
				</table>
				</div>
				
			</div>
			<div class="row col-md-12 col-lg-12 col-sm-12">
					<hr>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="col-md-7">
						<h1 id="line">LINE CHART</h1>
					</div>
					
				</div>
				<div class="col-md-4 graphtab">
					<div class="btn-group btn-group-justified">
						<a href="#line" role="group" type="button" class="btn btn-default" id="line_btn">LINE</a>
						<a href="#candle" role="group" type="button" class="btn btn-default">CANDLE STICK  </a>
					</div>
				</div>
			</div>
			<div id="linechart" class="chartdiv"></div>
			<hr>
			<div class="row col-md-8">
					<h1 id="candle">CANDLE STICK CHART</h1>
			</div>
			<div id="candlestick" class="chartdiv"></div>
		</div>
	</section>
</div>