include lib/common
+page('Broker AI')
  div(ng-controller='ShowStocksController')
    section
      .container.main-content-wrapper
        .row.col-md-12.col-lg-12.col-sm-12
          .row.col-md-8.col-lg-8.col-sm-12
            h1 STOCK'S INFO
          .row.col-md-4.col-lg-4.col-sm-12
            .btn-group.btn-group-options(data-toggle='buttons')
              label.btn.btn-darkgrey.active
                input#daily(type='radio', name='predict', autocomplete='off', checked)
                |  Daily
              label.btn.btn-darkgrey
                input#weekly(type='radio', name='predict', autocomplete='off')
                |  Weekly
              label.btn.btn-darkgrey
                input#monthly(type='radio', name='predict', autocomplete='off')
                |  Monthly
        .content
          table.table-bordered
            thead
              tr
                th HIGH
                th LOW
                th OPEN
                th CLOSE
                th CHANGE NET / %
              tbody
                tr
                  th 524.99
                  th 496.09
                  th 519.175
                  th 524.49
                  th asasas
        .row
          hr
        .row
          .col-md-8
            h1(id='line') LINE CHART
          .col-md-4.graphtab
            .btn-group.btn-group-justified
              a(href='#line' role='group' type='button').btn.btn-default
                | LINE
              a(href='#candle' role='group' type='button').btn.btn-default
                | CANDLE STICK  

        div(id='linechart').chartdiv
        hr
        .row.col-md-8
          h1(id='candle') CANDLE STICK CHART
        div(id='candlestick').chartdiv
      