<div ng-include="template.navbar"></div>
    <div>
        <section class="content-section">
            <div class="container main-content-wrapper">
                <div class="row col-md-12 col-lg-12 col-sm-12">
                    <div class="row col-md-8 col-lg-8 col-sm-12">
                        <h1>DAILY RECOMMENDED</h1>
                    </div>
                    <div class="row col-md-4 col-lg-4 col-sm-12">
                        <div data-toggle="buttons" class="btn-group btn-group-options">
                            <label class="btn btn-darkgrey active">
                                <input id="daily" type="radio" name="predict" autocomplete="off" checked> Daily</label>
                            <label class="btn btn-darkgrey">
                                <input id="weekly" type="radio" name="predict" autocomplete="off"> Weekly</label>
                            <label class="btn btn-darkgrey">
                                <input id="monthly" type="radio" name="predict" autocomplete="off"> Monthly</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="content">
                    <div ng-repeat="rs in recommemded_stocks" class="col-lg-4 col-md-4 col-sm-12 stock-predict-wrapper">
                        <a>
                            <div class="stock-predict-content">
                                <p class="fullname white-text">{{rs.stock_fullname}}</p>
                                <p class="name white-text">({{rs.stock_name}})</p>
                                <div ng-if="rs.daily_predict==='up'" class="row up">
                                    <li class="fa fa-caret-up info"> {{rs.daily_predict_price}}</li>
                                    <p class="info">{{rs.daily_predict_percent}}</p>
                                </div>
                                <div ng-if="rs.daily_predict==='down'" class="row down">
                                    <li class="fa fa-caret-up info"> {{rs.daily_predict_price}}</li>
                                    <p class="info">{{rs.daily_predict_percent}}</p>
                                </div>
                                <a href="/stocks/{{rs.id}}">
                                    <li class="fa fa-info moreinfo"></li>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>