include lib/common
+page('Broker AI')
  div(ng-controller='ShowStocksController')
    section
      .container.main-content-wrapper
        .row.col-md-12.col-lg-12.col-sm-12
          .row.col-md-8.col-lg-8.col-sm-12
            h1 DAILY RECOMMENDED
          .row.col-md-4.col-lg-4.col-sm-12
            .btn-group.btn-group-options(data-toggle='buttons')
              label.btn.btn-darkgrey.active
                input#daily(type='radio', name='predict', autocomplete='off', checked)
                |  Daily
              label.btn.btn-darkgrey
                input#weekly(type='radio', name='predict', autocomplete='off')
                |  Weekly
              label.btn.btn-darkgrey
                input#monthly(type='radio', name='predict', autocomplete='off')
                |  Monthly
        
        .row
          hr
        .content
          .col-lg-4.col-md-4.col-sm-12.stock-predict-wrapper(ng-repeat='rs in recommemded_stocks')
            a
              .stock-predict-content
                p.fullname.white-text {{rs.stock_fullname}}
                p.name.white-text ({{rs.stock_name}})
                .row.up(ng-if='rs.daily_predict===\'up\'')
                  li.fa.fa-caret-up.info  {{rs.daily_predict_price}}
                  p.info {{rs.daily_predict_percent}}
                .row.down(ng-if='rs.daily_predict===\'down\'')
                  li.fa.fa-caret-up.info  {{rs.daily_predict_price}}
                  p.info {{rs.daily_predict_percent}}
                a(href='/info')
                  li.fa.fa-info.moreinfo


  

