
    <div class="container index-content-wrapper">
        <h1>Registration</h1>
        <div class="login-wrapper">
            <form>
                <div class="panel panel-login">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Firstname" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Lastname" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" placeholder="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" placeholder="Username" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="password" placeholder="Password" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="password" placeholder="Conform Password" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-darkgrey">Register</button>
                        </div>
                    </div>
                    <div class="other-option"><a href="/index" class="register-link">Back</a><a href="main" class="login-as-guest-link">Login as guest</a>
                    </div>
                </div>
            </form>
        </div>
    </div>