<div ng-include="template.navbar"></div>
		<div>
				<section class="content-section">
					<div class="spin">
						<span spinner-key="spinner-1" spinner-start-active="true" us-spinner="{radius:15, width:8, length: 16}"></span>
					</div>
					<div id="fetching" class="container main-content-wrapper" style="color: #434040; display: block;">
						<center><h1><i><b>FETCHING DATA ...</b></i></h1></center>
					</div>
						<div id="hide" class="container main-content-wrapper">
								<div class="row col-md-12 col-lg-12 col-sm-12">
										<div class="row col-md-8 col-lg-8 col-sm-12">
												<h1>STOCK SIMULATOR</h1>
										</div>
								</div>
								<div class="row">
										<hr>
								</div>
								<div class="content">
										<div class="well">
												<div style="margin-bottom:15px;" class="row">
														<div class="col-md-12">
																<input type="text" name="budget" placeholder="BUDGET" class="form-control submitB">
														</div>
												</div>
												<div style="margin-bottom:15px;" class="row">
														<div class="col-md-6">
																<div class="dropdown">
																		<button id="dropdownMenu1" type="button" data-toggle="dropdown" aria-expanded="true" class="btn btn-default dropdown-toggle category-drop submitB">DURATION
																				<span class="caret"></span>
																		</button>
																		<ul role="menu" aria-labelledby="dropdownMenu1" class="dropdown-menu">
																				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Daily</a>
																				</li>
																				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Weekly</a>
																				</li>
																				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Montly</a>
																				</li>
																		</ul>
																</div>
														</div>
														<div class="col-md-6">
																<input type="text" name="searchStock" placeholder="PROFITS" class="form-control submitB">
														</div>
												</div>
												<div class="row">
														<div class="col-md-12">
																<button class="btn submitB category-drop btn-primary">SUBMIT</button>
														</div>
												</div>
										</div>
								</div>
								<div class="content">
									<table class="table-bordered">
										<thead>
											<tr>
												<th id="noBorder"></th>
												<th class="col-md-2 col-lg-2 col-sm-2">SYMBOL</th>
												<th class="col-md-3 col-lg-3 col-sm-3">COMPANY</th>
												<th class="col-md-2 col-lg-2 col-sm-2" style="font-size: 18px;">LAST SALE</th>
												<th class="col-md-1 col-lg-1 col-sm-1" style="font-size: 12px;">Reccommend<br>BUY AT</th>
												<th class="col-md-1 col-lg-1 col-sm-1" style="font-size: 12px;">Reccommend<br>SELL AT</th>
												<th class="col-md-1 col-lg-1 col-sm-1" style="font-size: 12px;">Reccommend<br>VOLUME</th>
												<th class="col-md-1 col-lg-1 col-sm-1" style="font-size: 12px;">DT PREDICTION</th>
												<th class="col-md-1 col-lg-1 col-sm-1" style="font-size: 12px;">NN PREDICTION</th>
											</tr>
										</thead>
										
										<tbody class="stocks">
											<tr ng-repeat="stock in rec_stocks">
												<th id="noborder">
													<button id="{{stock.company_id}}" ng-click="toggle(stock.company_id)" class="noBgButton favButton fa fa-heart down"></button>
												</th>
												<th scope="row" class="col-md-2 col-lg-2 col-sm-2">{{stock.symbol}}
													<td style="position:relative;" class="col-md-3 col-lg-3 col-sm-3"><a href="/stocks/{{stock.company_id}}">{{stock.name}}<i class="fa fa-info-circle moreinfo"> </i></a>
													</td>
													<td class="col-md-2 col-lg-2 col-sm-2">{{stock.high_price | number:3}}</td>

													
													
													<!--BS-->
													<td class="col-md-1 col-lg-1 col-sm-1 bs-col">{{stock.bs_daily_buy | number:3}}</td>
													<td class="col-md-1 col-lg-1 col-sm-1 bs-col">{{stock.bs_daily_sell | number:3}}</td>

													<!--Volume-->
													<td class="col-md-1 col-lg-1 col-sm-1 vol-col">{{stock.bs_volume | number:3}}</td>

													<!--DT-->
													<td ng-if="(stock.high_price - stock.dt_daily)>(stock.high_price - stock.nn_daily)" class="non-hi-light col-md-1 col-lg-1 col-sm-1">{{stock.dt_daily | number:3}}</td>
													<td ng-if="(stock.high_price - stock.dt_daily)<(stock.high_price - stock.nn_daily)" class="hi-light col-md-1 col-lg-1 col-sm-1">{{stock.dt_daily | number:3}}</td>
													
													<!--NN-->
													<td ng-if="(stock.high_price - stock.dt_daily)<(stock.high_price - stock.nn_daily)" class="non-hi-light col-md-1 col-lg-1 col-sm-1">{{stock.nn_daily | number:3}}</td>
													<td ng-if="(stock.high_price - stock.dt_daily)>(stock.high_price - stock.nn_daily)" class="hi-light col-md-1 col-lg-1 col-sm-1">{{stock.nn_daily | number:3}}</td>

												</th>
											</tr>
										</tbody>

										</table>
								</div>
						</div>
				</section>
		</div>