<div ng-include="template.navbar"></div>
		<div>
				<section>
						<div class="container main-content-wrapper">
								<div class="row col-md-12 col-lg-12 col-sm-12">
										<div class="row col-md-8 col-lg-8 col-sm-12">
												<h1>STOCK SIMULATOR</h1>
										</div>
								</div>
								<div class="row">
										<hr>
								</div>
								<div class="content">
										<div class="well">
												<div style="margin-bottom:15px;" class="row">
														<div class="col-md-12">
																<input type="text" name="budget" placeholder="BUDGET" class="form-control submitB">
														</div>
												</div>
												<div style="margin-bottom:15px;" class="row">
														<div class="col-md-6">
																<div class="dropdown">
																		<button id="dropdownMenu1" type="button" data-toggle="dropdown" aria-expanded="true" class="btn btn-default dropdown-toggle category-drop submitB">DURATION
																				<span class="caret"></span>
																		</button>
																		<ul role="menu" aria-labelledby="dropdownMenu1" class="dropdown-menu">
																				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Daily</a>
																				</li>
																				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Weekly</a>
																				</li>
																				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Montly</a>
																				</li>
																		</ul>
																</div>
														</div>
														<div class="col-md-6">
																<input type="text" name="searchStock" placeholder="PROFITS" class="form-control submitB">
														</div>
												</div>
												<div class="row">
														<div class="col-md-12">
																<button class="btn submitB category-drop btn-primary">SUBMIT</button>
														</div>
												</div>
										</div>
								</div>
						</div>
				</section>
		</div>