<div ng-include="template.navbar"></div>
<div>
	<section class="content-section">
		<div class="spin">
			<span spinner-key="spinner-1" spinner-start-active="true" us-spinner="{radius:15, width:8, length: 16}"></span>
		</div>
		<div id="fetching" class="container main-content-wrapper" style="color: #434040; display: block;">
			<center><h1><i><b>FETCHING DATA ...</b></i></h1></center>
		</div>
		<div id="hide" class="container main-content-wrapper" style="display: none;">
			<div class="row col-md-12 col-lg-12 col-sm-12">
				<div class="row col-md-8 col-lg-8 col-sm-12">
					<h1>STOCKS</h1>
					
				</div>
				<div class="row col-md-4 col-lg-4 col-sm-12">
					<div data-toggle="buttons" class="btn-group btn-group-options">
						<label ng-click="getLatestStocks('day')" class="btn btn-darkgrey active">
							<input id="daily" type="radio" name="predict" autocomplete="off" checked> Daily</input></label>
						<label ng-click="getLatestStocks('week')" class="btn btn-darkgrey">
							<input id="weekly" type="radio" name="predict" autocomplete="off"> Weekly</input></label>
						<label ng-click="getLatestStocks('month')" class="btn btn-darkgrey">
							<input id="monthly" type="radio" name="predict" autocomplete="off"> Monthly</input></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8 col-sm-4 col-sm-offset-8 searchstock">
					 <angucomplete-alt id="ex1" ng-enter="searchResult()" placeholder="SEARCH" pause="100" selected-object="selectedCompany" local-data="companies" search-fields="name,symbol" title-field="name,symbol" minlength="1" match-class="highlight" input-class="form-control form-control-small"/>
				</div>
			</div>
			<div class="row">
				<hr>
			</div>
			<div class="content">

				<table class="table-bordered">
					<thead>
						<tr>
							<th id="noBorder"></th>
							<th>SYMBOL</th>
							<th>COMPANY</th>
							<th>LAST SALE</th>
							<th>DT PREDICTION</th>
							<th>NN PREDICTION</th>
						</tr>
					</thead>
					<!--day-->
					<tbody class="stocks day">
						<tr ng-repeat="stock in stocks">
							<th id="noborder">
								
								<button id="{{stock.company_id}}" ng-click="toggle(stock.company_id)" class="noBgButton favButton fa fa-heart down"></button>
							
							</th>
							<th scope="row" class="col-md-2 col-lg-2-col-sm-2">{{stock.symbol}}
								<td style="position:relative;" class="col-md-4 col-lg-4-col-sm-4"><a href="/stocks/{{stock.company_id}}">{{stock.company_name}}<i class="fa fa-info-circle moreinfo"> </i></a>
								</td>

								<td class="col-md-2 col-lg-2-col-sm-2">{{stock.high_price | number:3}}</td>
								
									<!--DT-->
									<!-- up and hilight nn-->
										<td ng-if="stock.hilight==='nn' && stock.high_price<stock.dt_daily" class="non-hi-light col-md-1 col-lg-1 col-sm-1 up-on-light"><li class="fa fa-caret-up"> {{stock.dt_daily | number:3}}</li></td>
									<!-- up and hilight dt-->
										<td ng-if="stock.hilight==='dt'  && stock.high_price<stock.dt_daily" class="hi-light col-md-1 col-lg-1 col-sm-1 up-on-dark"><li class="fa fa-caret-up"><b> {{stock.dt_daily | number:3}}</b></li></td>
									<!-- down and hilight nn-->
										<td ng-if="stock.hilight==='nn' && stock.high_price>stock.dt_daily" class="non-hi-light col-md-1 col-lg-1 col-sm-1 down-on-light"><li class="fa fa-caret-down"> {{stock.dt_daily | number:3}}</li></td>
									<!-- down and hilight dt-->
										<td ng-if="stock.hilight==='dt'  && stock.high_price>stock.dt_daily" class="hi-light col-md-1 col-lg-1 col-sm-1 down-on-dark"><li class="fa fa-caret-down"><b> {{stock.dt_daily | number:3}}</b></li></td>
									<!--case null-->
										<td ng-if="stock.dt_daily===null" class="col-md-1 col-lg-1 col-sm-1"> No Data</td>


									<!--NN-->
									<!-- up and hilight nn-->
										<td ng-if="stock.hilight==='nn' && stock.high_price<stock.nn_daily" class="hi-light col-md-1 col-lg-1 col-sm-1 up-on-dark"><li class="fa fa-caret-up"><b> {{stock.nn_daily | number:3}}</b></li></td>
									<!-- up and hilight dt-->
										<td ng-if="stock.hilight==='dt' && stock.high_price<stock.nn_daily" class="non-hi-light col-md-1 col-lg-1 col-sm-1 up-on-light"><li class="fa fa-caret-up"> {{stock.nn_daily | number:3}}</li></td>
									<!-- down and hilight nn-->
										<td ng-if="stock.hilight==='nn' && stock.high_price>stock.nn_daily" class="hi-light col-md-1 col-lg-1 col-sm-1 down-on-light"><li class="fa fa-caret-down"> {{stock.nn_daily | number:3}}</li></td>
									<!-- down and hilight dt-->
										<td ng-if="stock.hilight==='dt' && stock.high_price>stock.nn_daily" class="non-hi-light col-md-1 col-lg-1 col-sm-1 down-on-dark"><li class="fa fa-caret-down"><b> {{stock.nn_daily | number:3}}</b></li></td>
									<!--case null-->
										<td ng-if="stock.dt_daily===null" class="col-md-1 col-lg-1 col-sm-1"> No Data</td>
							</th>
						</tr>
					</tbody><!--day-->

					</table>
				<div class="to_center" style="display: none;">
				<div class="page-number-wrapper">
					<a href="#"><div class="page-number">
						<<
					</div></a>
					<a href="#"><div class="page-number">
						<
					</div></a>
					<a href="#"><div class="page-number">
						1
					</div></a>
					<a href="#"><div class="page-number">
						2
					</div></a>
					<a href="#"><div class="page-number">
						3
					</div></a>
					<a href="#"><div class="page-number">
						4
					</div></a>
					<a href="#"><div class="page-number">
						5
					</div></a>
					<a href="#"><div class="page-number">
						6
					</div></a>
					<a href="#"><div class="page-number">
						7
					</div></a>
					<a href="#"><div class="page-number">
						8
					</div></a>
					<a href="#"><div class="page-number">
						9
					</div></a>
					<a href="#"><div class="page-number">
						10
					</div></a>
					<a href="#"><div class="page-number">
						>
					</div></a>
					<a href="#"><div class="page-number">
						>>
					</div></a>
				</div>
			</div>
		</div>
		</div>
	</section>
</div>