
.index-content-wrapper {
  padding-top: 15vh;
  text-align: center;
  color: #333;
  h1{
  	font-size: 50px;
  }
}

.login-wrapper{
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 30px;
	padding-bottom: 30px;
	input{
		display: block;
		margin: 5px;
	}
	.panel-login{
		 border-color: #333;
		 border-width: 2px;
		 boder-style: solid;
		 border-radius: 5px;
		 padding: 40px;
		 margin: 20px;
	}
	.form-control {
	  color: #333;
	  background-color: #fff;
	  background-image: none;
	  border: 2px solid #333;
	  border-radius: 5px;
	}
	a{
		color: #777;
		&:hover{
			color: #222;
			text-decoration: none;
		}
	}
	.other-option{
		margin-top: 10px;
		font-size: 12px;
		.register-link{
		float: left;
		}
		.login-as-guest-link{
		float: right;
		}
	}
	
	
	
}

.btn-darkgrey{
	color: #fff;
	background: #666;
	width: 100%;
	border: 2px solid #666;
	font-size: 14px;
	&:hover{
		color: #fff;
		background: #222;
		border: 2px solid #222;
	}
	&.active{
		color: #fff;
		background: #222;
		border: 2px solid #222;
	}
}
.navbar{
	height: 70px;
}
.navbar-margin{
	margin-top: 10px;
}
.navbar-font{
	font-size: 18px;
	color: #999;
	text-align: center;
	&:hover{
		color: #f2f2f2;
	}
}
.navbar-right{
	margin-right: 20px;
}
.navbar-inverse .navbar-brand{
	font-size: 30px;
	color: #999;
	border: 1px solid #999;
	&:hover{
    	color: #f2f2f2;
	}
}
.navbar-inverse .navbar-collapse{
  background: #222;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 20px;
}
.main-content-wrapper{
	padding-top: 140px;
	hr{
		color: #333;
		height: 3px;
		background: #333;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.row{
		margin: 0;
		h1{
			font-size: 40px;
		}
	}
	.content{
		padding-top: 10px;
		margin-left: 2.5%;
		margin-right: 2.5%;
		.stock-predict-wrapper{
			height: 260px;
			padding: 2px;
			margin-bottom: 5px;
		}
		a{
			color: #fff;
			text-decoration: none;
			&:hover{
				box-shadow: 1px 0 20px #333;
			}
		}
		.stock-predict-content{
			background: #333;
			color: #fff;
			height: inherit;
			text-align: center;
			padding-top: 17px;
			.fullname{
				font-size: 20px;
			}
			.name{
				font-size: 32px;
			}
			.info{
				font-size: 35px;
			}
			.up{
				color: #01DF01;
			}
			.down{
				color: #FF0000;
			}
			li{
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.moreinfo{
				float: right;
				margin-right: 10px;
				font-size: 20px;
				color: #777;
				&:hover{
					color: #fff;
				} 
			}
			
		}
	}
}
.btn-group-options{
	display: flex;
	margin-top: 30px;
}