mixin page(title)
  doctype html
  html(ng-app='brokerai')
    head
      link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
      link(rel='stylesheet' href='/assets/css/main-style.css')
      link(rel='stylesheet' href='/assets/css/font-awesome.min.css')
    body
      +navbar
      block
      script(src='/assets/js/jquery.js')
      script(src='/assets/js/bootstrap.min.js')
      script(src='/assets/js/angular.min.js')
      script(src='/assets/js/brokerai.js')
      //graph
      script(src='http://www.amcharts.com/lib/3/amcharts.js')
      script(src='http://www.amcharts.com/lib/3/serial.js')
      script(src='http://www.amcharts.com/lib/3/themes/none.js')
      script(src='/assets/js/graph_candlestick.js')
      script(src='/assets/js/graph_linechart.js')


mixin navbar
  nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-margin.container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-menu')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='main') Broker AI
        // Collect the nav links, forms, and other content for toggling
        #nav-menu.collapse.navbar-collapse
          ul.nav.navbar-nav.col-md-9.col-sm-9.col-lg-9.navbar-right
            li.col-md-2.col-sm-2.col-lg-2
              a(href='main').navbar-font
                | HOME
                span.sr-only (current)
            li.col-md-2.col-sm-2.col-lg-2
               a(href='favorite').navbar-font FAVORITE
            li.col-md-2.col-sm-2.col-lg-2
               a(href='stocks').navbar-font STOCKS
            li.col-md-2.col-sm-2.col-lg-2
               a(href='simulator').navbar-font SIMULATOR
            li.col-md-2.col-sm-2.col-lg-2
              a.navbar-font
                span.glyphicon.glyphicon-user
            li.col-md-2.col-sm-2.col-lg-2
              .searchbox
                input(type='text',name='search', placeholder='SEARCH').form-control.navbar-font
